// http://www.stubbornella.org/content/2009/07/23/overflow-a-secret-benefit/
@mixin clearfix() {
	overflow:hidden;
	_overflow:visible;
	zoom:1;
}

// Centered container element
@mixin make-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);

	@include clearfix();
}

// Basic wrapper for grid system
@mixin make-row($gutter: $grid-gutter-width) {
	margin-left: ($gutter / -2);
	margin-right: ($gutter / -2);
	@include clearfix();
}

// Grid core properties
// 
// Give each column the core properties, including:
// min-height: 1px *Minimal height*
// padding-left/ right *column gutter*
// box-sizing *box model sizing*
@mixin column-core() {
	position: relative;
	min-height: 1px;

	padding-left: ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);

	box-sizing: border-box;	
}

// Grid generator
// 
// [Non-responsive Edition]
@mixin make-column() {
	$i: 1;
	$list: "";
	$list: ".col-#{$i}";
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-#{$i}";
	}
	#{$list} {
		@include column-core();
		float: left;
	}
}

// Grid generator
// 
// [Responsive Edition]

@mixin make-r-column() {
	$i: 1;
	$list: "";
	$list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	}

	#{$list} {
		@include column-core();
	}
}

// float-column is isolated so column can be floated
// under given media query
@mixin float-r-column($class) {
	$i: 1;
	$list: "";
	$list: ".col-#{$class}-#{$i}";
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-#{$class}-#{$i}";
	}
	#{$list} {
		float: left;
	}
}

// Calculate column width with
// $grid-columns
// 
// [Responsive Edition]
@mixin calc-r-column-width($class) {
	$i: 1;
	@for $i from 1 through $grid-columns {
		.col-#{$class}-#{$i} {
			width: percentage(($i / $grid-columns));
		}
	}
}

// Use this method under given media query to generate
// grid columns for each media query breakpoints
@mixin make-r-grid($class) {
	@include float-r-column($class);
	@include calc-r-column-width($class);
}

// Calculate column width with
// $grid-columns
// 
// [Non-responsive Edition]
@mixin calc-column-width() {
	$i: 1;
	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			width: percentage(($i / $grid-columns));
		}
	}
}

// Generate non-responsive grid columns
@mixin make-grid() {
	@include calc-column-width();
}